@import '../../styles/abstract/mixins.scss';

.contacts {
    display: flex;
    gap: 47px;
    color: #e4e5ea;
    margin: 15px 0 0 140px;
    span {
        @include text(16px, 500, 1.21);
        width: 143px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 30px;
    }

    p {
        @include text(16px, 400);
        @include media(1000px) {
            font-size: 14px;
        }
    }

    @include media(1200px) {
        display: none;
    }

    &_type_footer {
        flex-direction: column;
        gap: 23px;
        margin: 0;
        align-items: end;

        ul {
            gap: 10px;
        }

        @include media(1200px) {
            display: flex;
        }
        @include media(1000px) {
            align-items: start;
            gap: 10px;
        }
    }
}
